.container{
    height: 100%;
}
header{
    background-color: #00aeff;
    width: l00%;
    height: 50px;
}
.h5{
    margin-top: 10px;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 370px;
    position: relative;
}
.section::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../Assets/img/Design\ sem\ nome\ \(4\).png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.text-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.text-secund{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h2{
    margin: 20px;
    font-size:30px ;
}
.row{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    height: 700px;

}
.first-coloum, .three-coloum{
    background-color: #EBE9EA;
    height: 300px;
    margin: 20px;
    margin-top: 20px;
}
.cont-2{
    width: 100%;
    height: 50px;
    background-color:#00AEFF;
    position: fixed;
    bottom: 0;
    margin: auto;
}



@media (max-width:280px){
    .p1{
        text-align: center;
    }
    .text-main{
        justify-content: end;
        font-size: 14px;
        text-align: center;
    }
    .text-secund,.p{
        text-align: center;
    }
}




